apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ns-egress-dns-and-https-only
  namespace: synchron
spec:
  podSelector: {}
  policyTypes:
    - Egress
  egress:
    - ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
    - ports:
        - protocol: TCP
          port: 443
